body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.topnav{
    background-color: lavender;
    height: 8vh;
   
    float: left;
    width: 100%;
  
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   

}

.topnav a{
    color: black;
    text-decoration: none;
    padding-top: 2vh;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    text-align: center;
    
   
    
}

.topnav a#active{
    
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    
    
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    text-align: center;
}

body{
    margin: 0;
    text-align: center;
}

.footer{
    float: center;
    width: 100%;
    text-align: center;
    height: 10vh;
    padding-top: 2%;
    margin-right: 5px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content{
    height: 82vh;
    background-color: whitesmoke;
    float: left;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
   
}

.footer-item{
    grid-column: auto;
}

.form-kontakt {
    width: 50%;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
    
    
}



.input-formkontakt {
    background-color: white;
    border-radius: 5px;
    padding: 2vh;
    box-sizing: border-box;
    width: 50%;
    margin: 1vh;
    border: none;
    text-align: left;
    
    
}

.select-formkontakt {
    background-color: white;
    border-radius: 5px;
    padding: 2vh;
    box-sizing: border-box;
    width: 50%;
    margin: 1vh;
    border: none;
    text-align: left;
    color: grey;
    


    
}
.textarea-formkontakt {
    background-color: white;
    border-radius: 5px;
    padding: 2vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    box-sizing: border-box;
    width: 50%;
    margin: 1vh;
    border: none;

}

.button-fromkontakt {
    background-color: lavender;
    border-radius: 5px;
    padding: 2vh;
    box-sizing: border-box;
    width: 50%;
    margin: 1vh;
    border: none;


}
.thanks a{
    text-decoration: none;
    color: black;
}