body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: whitesmoke;

}

.topnav{
    height: 6vh;
    float: left;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    top: 0;
    position: fixed;
    background-color: lavender;
  
   

}

.topnav-item{
    grid-column: auto;
    background-color: lavender;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topnav-item a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.topnav-item#active{
    
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    border-radius: 15px 15px 0px 0px;
    height: 7vh;
    position: bottom;
    margin-top: 1vh;
    
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    text-align: center;
    padding-bottom: 0.8vh;
    
    
}

.topnav-item#active-farleft{
    
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    border-radius: 0px 15px 0px 0px;
    height: 7vh;
    position: bottom;
    margin-top: 1vh;
    padding-bottom: 0.8vh;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    text-align: center;
    
    
}

.topnav-item#active-farright{
    
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    border-radius: 15px 0px 0px 0px;
    height: 7vh;
    position: bottom;
    margin-top: 1vh;
    padding-bottom: 0.8vh;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    text-align: center;
    
    
}

@media  (max-width: 800px) {
    .topnav{
        display: none;
    }
    menuimg  {
        display: visible;
    
    }
    .form-kontakt input {
        width: 50vw;  
    }
    .form-kontakt select {
        width: 50vw;  
    }
    .form-kontakt textarea {
        width: 50vw;  
    }
    .form-kontakt button {
        width: 50vw;  
    } 
    .aufgabetd {
        width: 20vw;
    }
    .gallery {
        width: 100vw;
    }
    
    
}


@media (max-width: 1300px) {
    .form-kontakt input {
        width: 50vw;  
    }
    .form-kontakt select {
        width: 50vw;  
    }
    .form-kontakt textarea {
        width: 50vw;  
    }
    .form-kontakt button {
        width: 50vw;  
    }
    .arrowsforthemediv {
        grid-template-columns: 1fr 20fr 1fr;
        
    }
    
    
    
        
    

}


@media (min-width: 500px) {
   
    .aufgabencontent-text td ,p{
        font-size: 1.25rem;
    }
    .aufgabetd {
        width: 10vw;
    }

}




@media (min-width: 800px) {
    .footer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-height: 6vw; 
    }
    .content {
        margin-top: 8vh;
    }
    #activemenu {
        display: none !important;
    }
    .menu {
        display: none !important;
    }
    .gallery {
        width: 60vw;
    }
    

}

@media (max-width: 500px) {
    .form-kontakt input {
        width: 70vw;  
    }
    .form-kontakt select {
        width: 70vw;  
    }
    .form-kontakt textarea {
        width: 70vw;  
    }
    .form-kontakt button {
        width: 70vw;  
    }
    .arrowsforthemediv {
        width: 100vw;
        
        
    }


    
}



.menu {
    height: 8.8vh;
    width: 100%;
    text-align: right;
    position: fixed;
    background-color: lavender;
    display: grid;
    grid-template-columns:  1fr 3fr 1fr;
    justify-content: center;
    top: 0;
    
}

#search {
    width: 50vw;
    height: 4vh;
    border-radius: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
    border: none;
    font-size: 15px;
    

}


.menu-item {
    justify-content: center;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
    
}

.menu-item #hamimg{
    height: 5vh;

}

.menu-item.menuimg {
    height: 5vh;
    grid-column: 3;
    align-self: center;
}

.menu-item.menusearch {
    grid-column: 2;
    align-self: center;
}

.topnav-item#roundedright{
    border-radius: 0px 0px 0px 15px;
}
.topnav-item#roundedleft{
    border-radius: 0px 0px 15px 0px;
}

body{
    margin: 0;
    text-align: center;
}

.footer {
    
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    bottom: 0;
    height: 20vh;
}

.footer-item {
    height: 5vh;
    
}

.footer p , .footer a{
    color: black;
    text-decoration: none;
    
}
.content{
    min-height: 88vh;
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8.8vh; 
   
}

.quellen {
    width: 80%;
    margin-bottom: 5%;
}



.aufgabendiv{
    
    margin-bottom: 5%;
    
    align-self: center;
   
    
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    /* background-color: black; */
       
}

/* .aufgabendiv #aufgabe2{
    display: none;

       
} */

.aufgabencontent-swiththeme {
    width: 80%;
    background-color: yellow;
    height: 90vw;
    display: flex;
    flex-direction: column;
}

.aufgabencontent-slidebutton {
    height: 10%;
    width: 100%;
    background-color:lavender ;
    text-align: center;
    justify-content: center;
    border-radius: 0px 0px 25px 25px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    
}

.arrowsforthemediv {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    justify-content: center;
    width: 100%;
    
}

.aufgabencontent-slidebutton button {
    width: 50%;
    justify-self: center;
    text-align: center;

}

.aufgabencontent-title img {
    align-self: center;
    
}

.aufgabencontent {
    width: 100%;
    min-height: 72.5vh;
    
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1%;
    margin-bottom: 1%;
    grid-column: 2;
    justify-content: center;
    
    
    
}



.gallery img {
    width: 80%;
    border-radius: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
}




#aufgabe1 {
    display: block;
}

#aufgabe2 {
    display: none;
}

#aufgabe3 {
    display: none;
}

#aufgabe4 {
    display: block;
}

#aufgabe5 {
    display: none;
}

#aufgabe6 {
    display: none;
}

#aufgabe7 {
    display: block;
}

#aufgabe8 {
    display: none;
}

#aufgabe9 {
    display: block;
}

#aufgabe10 {
    display: none;
}

#aufgabe11 {
    display: block;
}

#aufgabe12 {
    display: none;
}

#aufgabe13 {
    display: block;
}

#aufgabe14 {
    display: none;
}

#organisation {
    display: block;
}

#projekt {
    display: none;
}

#iperka {
    display: none;
}

#informationsbeschaffung {
    display: none;
}

#planung {
    display: none;
}

#vortrag {
    display: none;
}



.arrowicons {
    height: 2vh;
    justify-self: center;
    transition: all 0.5s ease;
    
}

.arrowicons:hover {
    height: 3vh;
    justify-self: center;
}

.arrowsforthemediv #arrowlefttheme {
    grid-column: 1;
    align-self: center;
    transition: background-color 2s ease-out;
}

.arrowsforthemediv #arrowrighttheme {
    grid-column: 3;
    align-self: center;
    transition: all 0.5s ease;
}



.aufgabencontent-title {
    height: 15%;
    width: 100%;
    background-color:lavender ;
    text-align: center;
    border-radius: 25px 25px 0px 0px;
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-content: center;
   
    
}

.aufgabencontent-text {
    height: 85%;
    width: 100%;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    border-radius: 0px 0px 25px 25px;
    text-align: left;
    font-size: 0.5rem;
    
    
}

.aufgabencontent-text p {
    text-align: left;
    padding-left: 5%;
    
    
}

.aufgabencontent-text a{
    color: black;
}

.aufgabencontent-text table{
   width: 90%;
   margin-right: 5%;
   margin-left: 5%;
   justify-content: center;
   align-self: center;
   
   border-spacing: 0;
 
}

.aufgabencontent-text img {
    width: 85%;
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
    
    
}


.aufgabencontent-text td {
    border: 1.5px solid whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
  
}


.aufgabencontent-text b {
    padding-right: 1rem;
}
.aufgabetd {
    width: 10vw;
    
}

.contenttd {
    width: 45vw;
    
}





.impressum {
    text-align: left;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 3vw;
    

}

.impressum-item{
    grid-column: auto;
}

.impressum-item input{
    background-color: lavender;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 1.5vw;
    border: none;
}



.form-kontakt {
    width: auto;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
    
    
}



.input-formkontakt {
    background-color: white;
    border-radius: 5px;
    padding: 2vh;
    box-sizing: border-box;
    width: 25vw;
    margin: 1vh;
    border: none;
    text-align: left;
    
    
}

.select-formkontakt {
    background-color: white;
    border-radius: 5px;
    padding: 2vh;
    box-sizing: border-box;
    width: 25vw;
    margin: 1vh;
    border: none;
    text-align: left;
    color: grey;
    


    
}
.textarea-formkontakt {
    background-color: white;
    border-radius: 5px;
    padding: 2vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
    box-sizing: border-box;
    width: 25vw;
    margin: 1vh;
    border: none;

}

.button-fromkontakt {
    background-color: lavender;
    border-radius: 5px;
    padding: 2vh;
    box-sizing: border-box;
    width: 25vw;
    margin: 1vh;
    border: none;
    transition: all 1s ease;


}

.button-fromkontakt:hover {
    background-color: white;
    
    
}
.thanks a{
    text-decoration: none;
    color: black;
}


#activemenu {
    width: 100%;
    text-align: center;
    background-color: lavender;
    position: fixed;

    padding-bottom: 2.5%;
    top: 8.8vh;
    
    
    
}

.dropdownmenu-item li > a:hover{
    color: white;
}

.dropdownmenu {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10vw;
}
.dropdownmenu-item a{
    color: black;
    text-decoration: none;
    font-size: 3rem;
}